a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

a:hover,
.submenu-item:hover {
  background-color: #e9ecef;
}

.dropdown-menu-container {
  display: flex;
  align-items: center;
  flex-wrap: none;
  padding: .25rem 1rem;
}

.dropdown-menu-item {
  display: block;
  font-size: 1rem;
  margin-left: .3rem;
}

.submenu-container {
  border-radius: 0.25rem;
  position: absolute;
  left: 160px;
  display: flex;
  height: 0;
  overflow-y: hidden;
  transition: height 0.5s ease-out;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  width: auto;
  word-break: keep-all;
  z-index: 1;
  background-color: white;
}

a:hover .submenu-container {
  border: 1px solid #ced4da;
  height: auto;
  width: auto;
  transition: height 0.25s linear;
}

.submenu-item {
  padding: 0.3rem 0.8rem;
  width: 150px;
}