<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="upper-left-corner">
    <img
      width="40"
      alt="Bike"
      src="favicon.ico"
    />
    <span>NYC Citibikes</span>
  </div>
  <div class="upper-right-corner">
    <div class="spinner-container">
      <p *ngIf="lastUpdatedTime != ''; else spinner" class="last-updated-date">Last updated at {{ lastUpdatedTime }}</p>
    </div>
      <div class="spinner-container button-container">
      <button *ngIf="!loading; else spinner" class="btn btn-outline-light btn-refresh" (click)="triggerRefresh()">Refresh</button>
    </div>
  </div>
</div>

<div class="main">
  <div *ngIf="(currentTab$ | async) as currentTab">
    <main-map [$stations]="$stations" ($selectedStation)="changeSelectedStation($event)"></main-map>
    <main-side-panel [$selectedStation]="$selectedStation" [loading]="loading"></main-side-panel>
  </div>
  
  <!-- Footer -->
  <footer>
      Developped by CentraleSupélec students : Bouyssel Camille, Le Parc Jeanne, Ni Clara.
  </footer>

  <router-outlet></router-outlet>
</div>

<ng-template #spinner>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
