<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="upper-left-corner">
    <img
      width="40"
      alt="Bike"
      src="favicon.ico"
    />
    <span>NYC Citibikes</span>
  </div>
  <div class="upper-right-corner">
    <p *ngIf="lastUpdatedTime != ''; else spinner" class="last-updated-date">Last updated at {{ lastUpdatedTime }}</p>
  </div>
</div>

<div class="main">
  <main-map ($lastUpdatedTime)="setUpLastUpdatedTime($event)" ($selectedStation)="changeSelectedStation($event)"></main-map>
  <main-side-panel [$selectedStation]="$selectedStation" ></main-side-panel>
  <!-- Footer -->
  <footer>
      Developped by CentraleSupélec students : Bouyssel Camille, Le Parc Jeanne, Ni Clara.
  </footer>

  <router-outlet></router-outlet>
</div>

<ng-template #spinner>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
