@use "src/colors";

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: colors.$black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: colors.$blue;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.timeslot-weekday-scroll {
  position: fixed;
  background-color: colors.$white;
  margin-top: 10px;
  margin-right: 10px;
  right: 0px;
  z-index: 10000;
  border-radius: 25px;
  width: 200px;
  box-shadow: 5px 5px 15px 5px colors.$box-shadow;
}

.weekday-scroll {
  width: 60px;
}

.timeslot-scroll {
  width: 130px;
}

.radio-analytic {
  background-color: transparent;
  border-radius: 25px;
  flex-direction: column;
  height: 112px;
  margin-top: 16px;
  position: fixed;
  right: 220px;
  width: auto;
  z-index: 10000;
}

.radio-analytic label {
    background-color: colors.$white;
    border: 2px solid colors.$blue;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 5px colors.$box-shadow;
    color: colors.$blue;
    margin: 0px;
    margin-bottom: 5px;
}

.radio-analytic label:hover {
  background-color: colors.$blue;
  color: colors.$white;
}

.radio-analytic input[type="radio"]:checked + label {
  background-color:colors.$blue;
  border: 2px solid colors.$white;
  color: colors.$white;
}

.search-bar {
  position: fixed;
  z-index: 999;
  border-radius: 25px;
  text-align: center;
  width: 100%;
}

form {
  width: 75%;
}
