:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;  
}

.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.upper-left-corner {
  width: 50%;
}

.upper-right-corner {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 100%;
}

.last-updated-date {
  text-align: end;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.button-container {
  width: 80px;
}

.tab {
  cursor: pointer;
}

.active {
  background-color: rgba(255, 255, 255, .25);;
}

.timeslot-weekday-scroll {
  position: fixed;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  right: 0px;
  z-index: 10000;
  border-radius: 25px;
  width: 250px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
}

.weekday-scroll {
  width: 100px
}

.timeslot-scroll {
  width: 140px
}
