@use "src/colors";

/* The sidepanel menu */
.sidepanel {
  box-shadow: 0 -1px 2px colors.$box-shadow-side-panel-1,0 2px 6px 2px colors.$box-shadow-side-panel-2;
  height: 100%;
  width: 0%; /* 0 width - change this with JavaScript */
  position: absolute;
  z-index: 10000; /* Stay above the map */
  top: 0;
  right: 0;
  background-color: colors.$white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.sidepannel-title {
  background-color: colors.$orange;
  display: flex;
}

.close-btn {
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  color: colors.$white;
  display: block;
  transition: 0.3s;
  top: 0;
  left: 8px;
}

.close-btn:hover {
  color: colors.$blue;
}

.sidepanel h1 {
  color: colors.$white;
  font-size: 1.5rem;
  padding: 12px 5px;
  margin: 0px;
}

.ph-30 {
  padding: 0 30px;
}

.sidepanel p {
  padding: 0 18px;
  margin: 0 0;
}

.text-with-icon {
  display: flex;
  align-items: center;
  padding: 3px 30px;
  font-size: large;
}

.text-ebikes {
  display: block;
}

.icon {
  display: flex;
  width: 40px;
  justify-content: center;
}

.fa-times-circle {
  color: colors.$red;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.all-bars{
  display: flex;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.all-bars .bar{
  width: var(--taille);
  background-color: var(--main-color);
  height: 15px;
  position: relative;
  display: inline-block;
}

.all-bars .bar:first-child{
  border-radius: 25px 0px 0px 25px;
}

.all-bars .bar:last-child{
  border-radius: 0px 25px 25px 0px;
}

.all-bars .bar:only-child{
  border-radius: 25px 25px 25px 25px;
}

/* Tooltip text */
.all-bars .bar .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: colors.$white;
  color: colors.$black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  pointer-events: none; 
  box-shadow: 2px 2px 1px colors.$box-shadow;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.all-bars .bar:hover .tooltiptext {
  visibility: visible;
}

.all-bars .bar .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: colors.$white transparent transparent transparent;
}

.flex {
  display: flex;
}

.flex-fill-empty {
  flex: 1 1 auto;
}

.flex-auto {
  flex: 0 1 auto;
}

.h-100 {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.sidepannel-tab {
  text-align: center;
  width: 50%;
}

.sidepannel-tab a {
  color: grey;
}

.active a {
  color: black !important;
}
