<div id="mySidepanel" class="sidepanel">
  <div class="sidepannel-header">
    <div class="sidepannel-title">
    <a href="javascript:void(0)" class="close-btn" (click)="closeSidePanel()">&times;</a>
    <h1>{{ prevSelectedStation.name }}</h1>
    </div>
  </div>
  <div *ngIf="!loading; else spinner" class="sidepannel-container">
    <div *ngIf="isStationActive(prevSelectedStation); else inactiveStationcontainer" class="active-station-container">
      <div class="text-with-icon">
        <div class="icon">
          <i class="fas fa-bicycle fa-2x"></i>
        </div>
        <p>{{ prevSelectedStation.num_bikes_available }} available bikes</p>
      </div>
      <div class="text-with-icon">
        <div class="icon">
          <i class="fas fa-parking fa-2x"></i>
        </div>
        <p>{{ prevSelectedStation.num_docks_available }} available docks</p>
      </div>
    </div>
    <ng-template #inactiveStationcontainer>
      <div class="text-with-icon">
        <div class="icon">
          <i class="fas fa-times-circle fa-2x"></i>
        </div>
        <p>Disabled station</p>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
