<div id="myBarChart">
  <div style="display: block;">
    <div class="d-flex justify-content-around day-of-the-week">
      <button type="button" class="btn btn-default" (click)="goToPreviousDay()">
        <i class="fas fa-angle-left"></i>
      </button>
      <p>{{day}}</p>
      <button type="button" class="btn btn-default" (click)="goToNextDay()">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>    
      <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
</div>
