p {
  margin: 0 0;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  width: 100px;
}

.day-of-the-week {
  margin-top: 10px;
  align-items: center;
  width: 100%;
  height: 50px;
}

.title-chart{
  white-space:nowrap;
  width: auto;
  font-size: 12px;
}

.div-title-chart{
  float: right;
}