<div *ngIf="!($loading | async); else spinner" id="myBarChart">
  <div style="display: block;">
    <div class="d-flex justify-content-around day-of-the-week">
      <button type="button" class="btn btn-default" (click)="goToPreviousDay()">
        <i class="fas fa-angle-left"></i>
      </button>
      <p>{{day}}</p>
      <button type="button" class="btn btn-default" (click)="goToNextDay()">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>  
    <div class="div-title-chart"><p class='title-chart'>Average Filling Rate By Time Slot</p></div>
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-container text-center mt-2">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
