$black: #333;
$blue: #247DCE;
$orange: #ffa05b;
$dark-orange: #ff6b00;
$white: #FFFFFF;
$red: #cd2d2d;
$dark-red: #a82323;
$yellow: #f2d164;
$dark-yellow: #e0b62b;
$green: #0e8c38;
$dark-green: #0a6b2a;
$box-shadow : rgba(0,0,0,0.26);
$box-shadow-icon: rgba(55,55,55,0.3);
$box-shadow-side-panel-1 : rgba(60,64,67,0.3);
$box-shadow-side-panel-2 : rgba(60,64,67,0.15);
